{{> header}}
<div class="d-flex justify-content-center align-items-center" style="margin-top: 50px; margin-bottom: 50px;">
    {{#existingCart}}
    <div class="col-md-5 col-lg-4 order-md-last">

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Tu carrito</span>
            <span class="badge bg-primary rounded-pill">{{cartSize}}</span>
        </h4>
        
        <ul class="list-group mb-3">
        {{#cartItems}}
            <li class="row list-group-item d-flex justify-content-between lh-sm">
                <div class="col-6">
                    <h6 class="my-0">{{product.title}}</h6>
                    <small class="text-muted">{{product.description}}</small>
                </div>
                <div class="input-group col" style="height:30px;">
                    <a class="btn btn-outline-secondary btn-minus btn-sm" type="button" href="/decreaseQuantity/{{id}}">-</a>
                    <input type="text" class="form-control text-center quantity-input" value="{{quantity}}">
                    <a class="btn btn-outline-secondary btn-plus btn-sm" type="button" href="/increaseQuantity/{{id}}">+</a>
                </div>
                <span class="text-muted col">${{product.price}}&euro;</span>
            </li>
        {{/cartItems}}
            {{#couponApplied}}
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                    <h6 class="my-0">"CUPÓN CANJEADO"</h6>
                    <small>Code - {{couponName}}</small>
                </div>
                <span class="text-success">-{{discount}}%</span>
            </li>
            {{/couponApplied}}
            {{^couponApplied}}
            {{/couponApplied}}
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (EUR)</span>
                <strong> {{totalPrice}}&euro;</strong>
            </li>
        </ul>

        <form class="card p-2" onSubmit="redeemCode(this,0)">
            <div class="input-group">
                <input type="text" class="form-control" name="code" placeholder="Introduzca su cupón">
                <button type="submit" class="btn btn-secondary">Canjear</button>
            </div>
        </form>

        <div id="containerMoreResults" class="containerMoreResults">
            <a id="buttonCheckout" href="/checkout" class="btn btn-primary" style="margin-top:50px;">
                Continuar con el pedido
            </a>   
        </div>

    </div>
    {{/existingCart}}

    {{^existingCart}}
    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Tu carrito</span>
            <span class="badge bg-primary rounded-pill">0</span>
        </h4>
        <div>Tu carrito está vacío</div>
    </div>
    {{/existingCart}}
</div>
{{> footer}}  