{{> header}}
<!-- Header-->
        <header class="bg-dark py-5">
            Info
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col">First</th>
                    <th scope="col">Second</th>
                    <th scope="col">Dessert</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Monday</th>
                    <td>Food</td>
                    <td>Food</td>
                    <td>More Food</td>
                  </tr>
                  <tr>
                    <th scope="row">Tuesday</th>
                    <td>Food</td>
                    <td>Food</td>
                    <td>More Food</td>
                  </tr>
                  <tr>
                    <th scope="row">Wednesday</th>
                    <td>Food</td>
                    <td>Food</td>
                    <td>More Food</td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-primary">Order</button>
            </div>
            
        </section>
 {{> footer}}       