{{> header}}
<!-- Header-->
<script>
  $( document ).ready(function() {
    $("#showText").html($("#showText").attr("data"));
  });
</script>
        <header class="bg-dark py-5">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder fade-in-big">Menu</h1>
              <h5>Disponible sólo presencialmente</h5>
          </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
              <div id="showText" data="{{#hasMenu}}{{#menu}}{{menu.content}}{{/menu}}{{/hasMenu}}"></div>
              <a type="button" class="btn btn-primary" href="/book">Reserva tu mesa</a>
            </div>
        </section>
 {{> footer}}       