<div *ngIf="cart | async as cartPackage" class="d-flex justify-content-center align-items-center" style="margin-top: 50px; margin-bottom: 50px;">
    
    <div *ngIf="cartPackage.existingCart" class="col-md-5 col-lg-4 order-md-last">

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Tu carrito</span>
            <span class="badge bg-primary rounded-pill">{{cartPackage.cartSize}}</span>
        </h4>
        
        <ul class="list-group mb-3">
        
            <li *ngFor="let elem of cartPackage.cartItems" class="row list-group-item d-flex justify-content-between">
                <div class="col-6">
                    <h6 class="my-0">{{elem.product.title}}</h6>
                    <small class="text-muted">{{elem.product.description}}</small>
                </div>
                <div class="input-group col" style="height:30px;">
                    <a class="btn btn-outline-secondary btn-minus btn-sm" type="button" (click)="decreaseQuantity(elem.id)">-</a>
                    <input type="text" class="form-control text-center quantity-input" value="{{elem.quantity}}" readonly>
                    <a class="btn btn-outline-secondary btn-plus btn-sm" type="button" (click)="increaseQuantity(elem.id)">+</a>
                </div>
                <span class="text-muted col">{{elem.product.price}}&euro;</span>
            </li>
            
            
            <li *ngIf="cartPackage.couponApplied" class="row list-group-item d-flex bg-light">
                <div class="col">
                    <div class="text-success">
                        <h6 id="redeemedCoupon" class="my-0">CUPÓN CANJEADO</h6>
                        <small>Code - {{cartPackage.coupon.couponName}}</small>
                    </div>
                    <span class="text-success">-{{cartPackage.coupon.discount}}%</span>
                </div>
                <div class="col d-flex flex-row-reverse">
                    <button class="btn btn-light" click()="unredeemCode()"><i class="bi bi-x fs-3 text-success"></i></button>
                </div>
            </li>

            <li class="row list-group-item justify-content-right">
                <div class="col text-right">
                    <span>Total (EUR)</span>
                    <strong> {{cartPackage.totalPrice}}&euro;</strong>
                </div>
            </li>
            
        </ul>

        <div class="row card p-2">
            <div class="input-group">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Cupones</button>
                <ul class="dropdown-menu">
                    <li><p class="dropdown-item">Hola</p></li>
                        <!--<li *ngFor="let elem of cartPackage.couponList"><p class="dropdown-item" (click)="changeCoupon(&quot;{{elem.code}}&quot;)">
                            {{elem.code}} x {{elem.usesRemaining}}
                                <img *ngIf="elem.hasImage" class="ms-2" src="/coupon/{{elem.id}}/image" alt="avatar" width="50px" height="40px"/>
                        </p></li>
                    
  
                        <li *ngIf="cartPackage.couponList.length === 0" class="m-2 ms-3"><p>No hay cupones</p></li>-->

                </ul>
                <input type="text" class="form-control"  id="redeemText" placeholder="Introduzca su cupón">
                <button type="submit" class="btn btn-secondary" (click)="redeemCode1()">Canjear</button>
            </div>
        </div>

        <div id="containerMoreResults" class="containerMoreResults">
            <a id="buttonCheckout" href="/checkout" class="btn btn-primary" style="margin-top:50px;">
                Continuar con el pedido
            </a>   
        </div>

    </div>
    
    
    <div *ngIf="!cartPackage.existingCart" class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Tu carrito</span>
            <span class="badge bg-primary rounded-pill">0</span>
        </h4>
        <div>Tu carrito está vacío</div>
    </div>
    
</div>