<div *ngIf="checkout | async as cartPackage" class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../assets/cartIcon.jpg" alt="" width="75" height="65">
        <h2>Pedido</h2>
      </div>
  
      <div class="row g-5">
  
    
            <div *ngIf="cartPackage.existingCart" class="col-md-5 col-lg-4 order-md-last">
        
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Tu carrito</span>
                    <span class="badge bg-primary rounded-pill">{{cartPackage.cartSize}}</span>
                </h4>
                
                <ul class="list-group mb-3">
                
                    <li *ngFor="let elem of cartPackage.cartItems" class="row list-group-item d-flex justify-content-between">
                        <div class="col-6">
                            <h6 class="my-0">{{elem.product.title}}</h6>
                            <small class="text-muted">{{elem.product.description}}</small>
                        </div>
                        
                        <span class="text-muted col">{{elem.product.price}}&euro;</span>
                    </li>

                    <li *ngIf="cartPackage.couponApplied" class="row list-group-item d-flex bg-light">
                        <div class="col">
                            <div class="text-success">
                                <h6 id="redeemedCoupon" class="my-0">CUPÓN CANJEADO</h6>
                                <small>Code - {{cartPackage.coupon.code}}</small>
                            </div>
                            <span class="text-success">-{{cartPackage.coupon.discount}}%</span>
                        </div>
                        
                    </li>

                    <li class="row list-group-item justify-content-right">
                        <div class="col text-right">
                            <span>Total (EUR)</span>
                            <strong> {{cartPackage.totalPrice}}&euro;</strong>
                        </div>
                    </li>

                </ul>
            </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Dirección de facturación</h4>
          <div class="needs-validation">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Se requiere un nombre válido.
                </div>
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Se requiere un apellido válido.
                </div>
              </div>
  
              <div class="col-12">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@{{cartPackage.user.name}}</span>
                  <!--<input type="text" class="form-control" id="username" placeholder="Nombre de usuario" required>-->
                <div class="invalid-feedback">
                    Se requiere un nombre de usuario válido.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="username" class="form-label">Correo electrónico</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">{{cartPackage.user.email}}</span>
                  <!--<input type="text" class="form-control" id="username" placeholder="Nombre de usuario" required>-->
                <div class="invalid-feedback">
                    Se requiere un correo electrónico válido.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">Dirección de envío</label>
                <input type="text" class="form-control" id="address" placeholder="C/Salvador Dalí" required>
                <div class="invalid-feedback">
                  Por favor introduzca su dirección de envío.
                </div>
              </div>
  
              <div class="col-12">
                <label for="address2" class="form-label">Dirección 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Portal 1, Piso 3ºA">
              </div>
  
              <div class="col-md-5">
                <label for="country" class="form-label">País</label>
                <select class="form-select" id="country" required>
                  <option value="">Elige...</option>
                  <option>United States</option>
                  <option>España</option>
                  <option>Brasil</option>
                  <option>Portugal</option>
                </select>
                <div class="invalid-feedback">
                  Por favor seleccione un país válido.
                </div>
              </div>
  
              <div class="col-md-4">
                  <label for="state" class="form-label">Ciudad</label>
                  <input type="text" class="form-control" id="state" placeholder="Madrid" required>
                  <div class="invalid-feedback">
                      Por favor introduzca una ciudad válida.
                  </div>
              </div>
  
              <div class="col-md-3">
                <label for="zip" class="form-label">Código Postal</label>
                <input type="number" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                  Código postal requerido.
                </div>
              </div>
            </div>
  
            <hr class="my-4">
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="same-address">
              <label class="form-check-label" for="same-address">Mi dirección de envío es la misma que mi dirección de facturación.</label>
            </div>
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="save-info">
              <label class="form-check-label" for="save-info">Guardar la información para los siguientes pedidos.</label>
            </div>
  
            <hr class="my-4">
  
            <h4 class="mb-3">Pago</h4>
  
            <div class="my-3">
              <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required>
                <label class="form-check-label" for="credit">Tarjeta de crédito</label>
              </div>
            </div>
  
            <div class="row gy-3">
              <div class="col-md-6">
                <label for="cc-name" class="form-label">Nombre en la tarjeta</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                <small class="text-muted">Nombre como se muestra en la tarjeta</small>
                <div class="invalid-feedback">
                  Se requiere el nombre en la tarjeta.
                </div>
              </div>
  
              <div class="col-md-6">
                <label for="cc-number" class="form-label">Número de la tarjeta</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                  Se requiere el número de la tarjeta.
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-expiration" class="form-label">Fecha de expiración</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                  Se requiere la fecha de expiración.
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-cvv" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                  Se requiere el código de seguridad.
                </div>
              </div>
            </div>
  
            <hr class="my-4">
  
            <button id="btn-proceed" class="w-100 btn btn-primary btn-lg" (click)="verifyFields()">Proceder al pago</button>
          </div>
        </div>
      </div>
    </main>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2023 Gustosa</p>
    </footer>
  </div>