<div *ngIf="description | async as Product" class="row justify-content-center">
    <div class="col row m-5 justify-content-center">
        <div class="col-sm-6 col-md-4 col-lg-3 row row-col-1 border rounded shadow-sm">
            <h1 class="display-5 m-2 fw-normal">
                {{Product.title}}
                <hr class="dropdown-divider"/>
            </h1>
            
            <p class=" fw-normal m-2 mb-5">{{Product.description}}</p>
        </div>
        <div class="col-6 ms-4" style="height: 50vh; width:70vh;">
            <div id="ofertas" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner carousel-ofertas border rounded shadow-sm">
                    <!--{{#images}}
                    <div class="carousel-item {{#firstOne}}active{{/firstOne}} {{^firstOne}}{{/firstOne}}" id="oferta{{positionInProduct}}">
                            <img class="d-block" src="/products/{{id}}/image/{{positionInProduct}}" 
                            style="height: 50vh; width:70vh; object-fit: cover;" alt="..."/>
                    </div>
                    {{/images}}-->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#ofertas" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#ofertas" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
    </div>
</div>