<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div id="navbar" class="container px-4 px-lg-5">
        <a class="navbar-brand" [routerLink]="['/']">Gustosa</a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
            <ul id="navbar-nav" class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" [routerLink]="['/']">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" href="/info" >Información</a></li>
                <li class="nav-item dropdown" dropdown>
                    <div class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pide</div>
                    <ul *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/menu']">Menu</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" [routerLink]="['/products']">Carta</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/book']">Reservar</a></li>
                    </ul>
                </li>
                <li  *ngIf="profile as resuser">
                    <a *ngIf="resuser.role.includes('ADMIN')" class="btn" id="admin_button" [routerLink]="['/admin/dashboard']"><i class="bi-gear-wide-connected me-1"></i>Admin</a>
                </li>
            </ul>
            <div class="d-flex pe-3">
                <div *ngIf="profile as resuser; else login">
                    <a class="btn" [routerLink]="['/user']">{{resuser["name"]}}</a>
                    <a class="btn" [routerLink]="['/logout']" id="logout_but">
                        <i class="bi bi-box-arrow-in-right"></i>
                    </a>
                </div>
                <ng-template #login>
                    <a class="btn" [routerLink]="['/login']">Login</a>
                </ng-template>
            </div>
            <div class="d-flex">
                <a class="btn btn-outline-dark" type="submit" [routerLink]="['/cart']">
                            <i class="bi-cart-fill me-1"></i>
                            Carrito
                        <span *ngIf="profile as resuser; else nocart" class="col badge bg-dark text-white ms-1 rounded-pill" id="cart_length">{{resuser["cartLength"]}}</span>
                        <ng-template #nocart>
                            <span class="col badge bg-dark text-white ms-1 rounded-pill" id="cart_length">0</span>
                        </ng-template>
                </a>
            </div>
        </div>
    </div>
</nav> 