<div></div>
<!--COntenido-->
<div class="bg-dark">
    <div id="ofertas" class="carousel slide" data-bs-ride="carousel">


        <div class="carousel-inner carousel-ofertas">

            <div class="carousel-item active h-100" id="oferta1">
                <img src="/images/bg1.jpg" style="height: 337px; object-fit: cover;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fade-in-big">Gustosa</h5>
                    <p class="fade-in-small">El mejor restaurante brasileño de Madrid</p>
                    <div class="row p-4"></div>
                </div>
            </div>

            <div class="carousel-item h-100" id="oferta2">
                <img src="bg2.jpg" style="height: 337px; object-fit: cover;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fade-in-big">Recomendado por todos</h5>
                    <p class="fade-in-small">Gustosa ha ganado varios premios</p>
                    <div class="row p-4"></div>
                </div>
                
            </div>


        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#ofertas" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#ofertas" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<div class="bg-dark py-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Disfruta de<br>Comida Deliciosa</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Disfruta de la amplia y rica variedad de sabores que Brasil te puede proporcionar. Encontrarás aquí las mejores carnes, platos tradicionales y postres.</p>
                <a href="/book" class="btn btn-light py-sm-3 px-sm-5 me-3 mt-4 animated slideInLeft">Reservar una mesa</a>
                <a href="/products" class="btn btn-light py-sm-3 px-sm-5 me-4 mt-4 animated slideInLeft">Échale un vistazo a nuestra carta</a>

            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" id="rotatoryimg" src="https://i.imgur.com/J0PGvis.png" alt="supu">
            </div>
        </div>
    </div>
</div>
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-secondary mb-4"></i>
                        <h5>Chefs Maestros</h5>
                        <p>Os milhores chefs do mondo. Os milhores programadores do web.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-secondary mb-4"></i>
                        <h5>Comida de calidad</h5>
                        <p>Galardonados dos veces en los premios Zagat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-secondary mb-4"></i>
                        <h5>Pide online</h5>
                        <p>No te muevas de casa ¡Comida a domicilio!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-secondary mb-4"></i>
                        <h5>Servicio 24/7</h5>
                        <p>Siempre listos para el cliente</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
    </div>
</section>
<!-- JavaScript Libraries -->

<script src="lib/wow/wow.min.js"></script>


