<div>
{{> header}}
{{> adminMenu}}
<div class="col">
    <div class="row flex-lg-nowrap">
    <script>

    window.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById(id="editForm");
        const password1 = document.getElementById('user-password1-input');
        const password2 = document.getElementById('user-password2-input');

        form.addEventListener('submit', function(event) {
          if (password1.value !== password2.value) {
            alert('Las contraseñas no coinciden.');
            event.preventDefault();
          }
        });
      });

      window.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById(id="creationForm");
        const password1 = document.getElementById('user-password1-input-creation');
        const password2 = document.getElementById('user-password2-input-creation');

        form.addEventListener('submit', function(event) {
          if (password1.value !== password2.value) {
            alert('Las contraseñas no coinciden.');
            event.preventDefault();
          }
        });
      });

    function editUser(button) {
    // get the user ID from the button's data-id attribute
      const userId = button.getAttribute("data-id");
      const userName = button.getAttribute("data-name");
      const userEmail = button.getAttribute("data-email");
      const userBio = button.getAttribute("data-bio")
      
      // set the value of the modal's input field to the user ID
      var modalInput = document.getElementById("user-name-input");
      modalInput.value = userName;
      modalInput = document.getElementById("user-email-input");
      modalInput.value = userEmail;
      modalInput = document.getElementById("user-bio-input");
      modalInput.value = userBio;
      modalInput = document.getElementById("user-id");
      modalInput.value = userId;
      modalInput = document.getElementById("user-password1-input");
      modalInput.value = "";
      modalInput = document.getElementById("user-password2-input");
      modalInput.value = "";
    }

    function addUser(button) {
      // get the user ID from the button's data-id attribute
      const role = button.getAttribute("data-id");
      // set the value of the modal's input field to the user ID
      var modalInput = document.getElementById("role");
      modalInput.value = role;
      modalInput = document.getElementById("user-name-input-creation")
      modalInput.value = "";
      modalInput = document.getElementById("user-email-input-creation");
      modalInput.value = "";
      modalInput = document.getElementById("user-bio-input-creation");
      modalInput.value = "";
      modalInput = document.getElementById("user-password1-input-creation");
      modalInput.value = "";
      modalInput = document.getElementById("user-password2-input-creation");
      modalInput.value = "";
    }
</script>
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="card-title">
              <h6 class="mr-2"><span>Gestión de clientes</span></h6>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3" id="listUsers">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="max-width">Nombre</th>
                      <th class="max-width">Correo electrónico</th>
                      <th class="sortable">Fecha de última modificación</th>
                      <th>Rol</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>

                    {{#user}}                 
                    <tr>
                      <td class="text-nowrap align-middle">{{name}}</td>
                      <td class="text-nowrap align-middle">{{email}}</td>
                      <td class="text-nowrap align-middle"><span>{{lastModified}}</span></td>
                      <td class="text-nowrap align-middle">{{role}}</td>
                      <td class="text-center align-middle">
                        <div class="btn-group align-top">
                            <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal-edit" data-name="{{name}}" data-id="{{id}}" data-email="{{email}}" data-bio="{{bio}}" onclick="editUser(this)">Editar</button>
                            <a class="btn btn-sm btn-outline-secondary badge" type="button" href="/adminUsers/removeUser?email={{email}}"><i class="fa fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    {{/user}}
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-center">
                <ul class="pagination mt-3 mb-0">
                  <li class="page-item"><a href="?page={{prevPag}}" class="page-link"><<</a></li>
                  <li class="page-item"><a href="?page={{nextPag}}" class="page-link">>></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="text-center px-xl-3">
              <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#user-form-modal" data-id="Usuario" onclick="addUser(this)">Nuevo usuario</button>
              <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#user-form-modal" data-id="Administrador" onclick="addUser(this)">Nuevo administrador</button>
            </div>
            <hr class="my-3">
            <div class="e-navlist e-navlist--active-bold">
              <ul class="nav">
                <li class="nav-item active"><a href="" class="nav-link"><span>Todos</span>&nbsp;<small>/&nbsp;32</small></a></li>
                <li class="nav-item"><a href="" class="nav-link"><span>Usuario</span>&nbsp;<small>/&nbsp;16</small></a></li>
                <li class="nav-item"><a href="" class="nav-link"><span>Administrador</span>&nbsp;<small>/&nbsp;0</small></a></li>
              </ul>
            </div>
            <hr class="my-3">
            <div>
              <div class="form-group">
                <label>Date from - to:</label>
                <div>
                  <input id="dates-range" class="form-control flatpickr-input" placeholder="01 Dec 17 - 27 Jan 18" type="text" readonly="readonly">
                </div>
              </div>
              <div class="form-group">
                <label>Search by Name:</label>
                <div><input class="form-control w-100" type="text" placeholder="Name" value=""></div>
              </div>
            </div>
            <hr class="my-3">
            <div class="">
              <label>Status:</label>
              <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="users-status-disabled">
                  <label class="custom-control-label" for="users-status-disabled">Disabled</label>
                </div>
              </div>
              <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="users-status-active">
                  <label class="custom-control-label" for="users-status-active">Active</label>
                </div>
              </div>
              <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="users-status-any" checked="">
                  <label class="custom-control-label" for="users-status-any">Any</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- User Form Modal -->
    <div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Creación de usuario</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-1">
              <form class="form" action="/adminUsers/createUser" id="creationForm" method="POST">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Permisos</label>
                          <input class="form-control" id="role" type="text" name="role" readonly>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>Nombre</label>
                          <input class="form-control" id="user-name-input-creation" placeholder="Pedro"  type="text" name="name">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Correo electrónico</label>
                          <input class="form-control" id="user-email-input-creation" placeholder="pedro@hotmail.com" type="text" value="" name="email">
                        </div>
                      </div>
                      </div>
                    <div class="row">
                      <div class="col mb-3">
                        <div class="form-group">
                          <label>Descripción</label>
                          <textarea class="form-control" id="user-bio-input-creation" name="bio" placeholder="Mis aficiones son..." rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6 mb-3">
                    <div class="mb-2"><b>Cambiar contraseña</b></div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Nueva contraseña</label>
                          <input class="form-control" id="user-password1-input-creation" type="password" name="password" placeholder="·········">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Confirmar contraseña</label>
                          <input class="form-control" id="user-password2-input-creation" type="password" placeholder="·········">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                    <div class="mb-2"><b>Imagen de perfil</b></div>
                  </div>
                </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Edit modal form -->
  <div class="modal fade" id="user-form-modal-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="py-1">
              <form class="form" action="/adminUsers/modifyUser" id="editForm" method="POST">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Identificador</label>
                          <input class="form-control" id="user-id" type="text" name="id" readonly>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>Nombre</label>
                          <input class="form-control" id="user-name-input"  type="text" name="name">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Correo electrónico</label>
                          <input class="form-control" id="user-email-input" type="text" name="email">
                        </div>
                      </div>
                      </div>
                    <div class="row">
                      <div class="col mb-3">
                        <div class="form-group">
                          <label>Descripción</label>
                          <textarea class="form-control" name="bio" id="user-bio-input" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6 mb-3">
                    <div class="mb-2"><b>Cambiar contraseña</b></div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Nueva contraseña</label>
                          <input class="form-control" id="user-password1-input" type="password" placeholder="·········">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Confirmar contraseña</label>
                          <input class="form-control" id="user-password2-input" type="password" placeholder="·········">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                    <div class="mb-2"><b>Imagen de perfil</b></div>
                  </div>
                </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
              </form>
    </div>
  </div>
</div>

  </div>
    
  </div>
</div>
{{> footer}}
</div>