{{> header}}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
{{#product}}
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal mb-5">{{title}}</h1>
        <p class="lead fw-normal">{{description}}</p>
        <div style="text-align:center;" class="">

            <div id="ofertas" class="carousel products slide" style="justify-content: center; align-items: center;" data-bs-ride="carousel">
                <div class="carousel-inner carousel-ofertas">
                    {{#images}}
                    <div class="carousel-item {{#firstOne}}active{{/firstOne}} {{^firstOne}}{{/firstOne}}" id="oferta{{positionInProduct}}">
                        <div class="row mx-auto">
                            <img style="justify-content: center; align-items: center;" src="/products/{{id}}/image/{{positionInProduct}}" alt="..." width="300" height="200"/>
                        </div>
                    </div>
                    {{/images}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#ofertas" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#ofertas" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>

        </div>
        <br>
        <h4>
            Price: {{price}} $
        </h4>
        <br>
        <a class="btn btn-outline-dark mt-auto" href="/cart">Add to cart</a>
        <br><br><br><br>
        <a class="btn btn-outline-dark mt-auto" href="/products">Back</a>
    </div>
{{/product}}
</div>

{{> footer}}