{{> header}}
<!-- Scripts-->
        <script>

            function addToCart(id){
                $.ajax({ 
                    url:"/addToCart?id="+id,    
                    type:"POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(responseData){
                        console.log(responseData);
                        var popovercontent = "No se ha podido añadir el producto";
                        if(("Login" in responseData)){
                            popovercontent = "Por favor inicie sesión antes";
                            window.location.replace("/login")
                            return;
                        }else if ("ok" in responseData){
                            popovercontent = "Producto añadido";
                            javascript:updateHeader();
                        }
                        var popover = new bootstrap.Popover($("#add_but"+id), {content:popovercontent, trigger: "focus"})
                        popover.show();
                        $('body').click(function(){
                            popover.dispose();
                            $('body').off('click');
                        });
                                
                    },error: function (xhr, ajaxOptions, thrownError){
                        var popover = new bootstrap.Popover($("#add_but"+id), {content:"No se ha podido añadir el producto"})
                        popover.show();
                        $('body').click(function(){
                            popover.dispose();
                            $('body').off('click');
                        });
                    }
                });
            }
        </script>
        
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
{{#product}}
<script>
    function addComment(){
        var selStars = $("#selStars").val();
        var contentText = $("#contentTextArea").val();
        $.ajax({ 
            url:"/products/{{id}}/addComment?content="+contentText+"&stars="+selStars,    
            type:"POST",
            contentType: "application/json; charset=utf-8",
            success: function(responseData){
                location.reload();  
            },error: function (xhr, ajaxOptions, thrownError){
                $("#errorName").text("No se pudo publicar");
            }
        });
    }
</script>
    <div class="row justify-content-center">
        <div class="col row m-5 justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-3 row row-col-1 border rounded shadow-sm">
                <h1 class="display-5 m-2 fw-normal">
                    {{title}}
                    <hr class="dropdown-divider"/>
                </h1>
                
                <p class=" fw-normal m-2 mb-5">{{description}}</p>
            </div>
            <div class="col-6 ms-4" style="height: 50vh; width:70vh;">
                <div id="ofertas" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner carousel-ofertas border rounded shadow-sm">
                        {{#images}}
                        <div class="carousel-item {{#firstOne}}active{{/firstOne}} {{^firstOne}}{{/firstOne}}" id="oferta{{positionInProduct}}">
                                <img class="d-block" src="/products/{{id}}/image/{{positionInProduct}}" 
                                style="height: 50vh; width:70vh; object-fit: cover;" alt="..."/>
                        </div>
                        {{/images}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#ofertas" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#ofertas" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
        
    <h4>
        Precio: {{price}} &euro;
    </h4>
    <br>
        <a class="btn btn-outline-dark mt-auto" id="add_but{{id}}" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="wdwd" onClick="javascript:addToCart({{id}})">Añadir al carrito</a>
    <br><br>
    <section class="py-5">

        <div class="card container mt-5 col-md-8 col-lg-10 border">
            <div id="listComments" class="row m-2 gx-4 gx-lg-5 row-cols-1 row-cols-md-1 row-cols-xl-1 justify-content-center mt-5">
                {{#productComments}}
                <div class="col mb-5">
                    <div class="card reviews h-100 shadow rounded-pill">
                        <div class="row">
                            <div class="col row border-end">
                                <div class="col user mt-2">
                                    <img class="rounded-circle shadow-sm me-3 mt-2" src="/user/{{userProfile.id}}/image" alt="avatar" width="32"
                                    height="32"/>
                                    {{userProfile.name}}
                                </div>
                                <div class="time">{{createdAt}}</div>
                            </div>
                            <div class="col col-8 p-3">
                                <div class="description">{{description}}</div>
                                <div class="rating">{{rating}}/10 <span class="star">&#9733;</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/productComments}}
            </div>
            <div id="containerMoreResults" class="containerMoreResults mb-5">
                {{#moreComments}}
                <button id="buttonMoreResults" onClick="moreComments({{currentPage}} + 1,{{id}})" class="btn btn-light rounded-pill border-dark">
                    Más resultados
                </button>
                <div id="spinner" class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                {{/moreComments}}
                {{^moreComments}}
                <div>
                    <a>No hay más resultados</a>
                </div>
                {{/moreComments}}
            </div>
            {{#userProfile_id}}
            <div class="row border rounded-0" style="background-color: #f0f2f5;">
                <div class="col-1 m-3">
                    <img class="rounded-circle shadow" src="/user/{{userProfile_id}}/image" alt="avatar" width="50px"
                    height="50px"/>
                </div>
                <div class="col-10 m-3">
                    <textarea class="form-control" id="contentTextArea" rows="3"></textarea>
                    <div class="row justify-content-end">
                        <div class="col-4 mt-3 ml-5 row me-5 rounded-pill border">
                            <div class="col">Estrellas</div>
                            <select id="selStars" class="col form-select form-select-sm rounded-pill me-1">
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <button type="button" class="col-2 btn btn-primary btn-sm mt-3" onClick="javascript:addComment()">Comentar</button>
                    </div>
                </div>
            </div>
            {{/userProfile_id}}
        </div>

        
            
    </section>
        
    <br>

    <a class="btn btn-outline-dark mt-auto" href="/products">Atrás</a>
{{/product}}
</div>

{{> footer}}