{{> header}}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Best brazilian food ever</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Muito boa comida</p>
                </div>
            </div>
        </header>
<!-- Scripts-->
        <script>

            function addToCart(id){
                $.ajax({ 
                    url:"/addToCart?id="+id,    
                    type:"POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(responseData){
                        console.log(responseData);
                        var popovercontent = "No se ha podido añadir el producto";
                        if(("Login" in responseData)){
                            //$("#add_but"+id).popover({content: "Por favor"})
                            //alert("Por favor inicie sesión antes");
                            popovercontent = "Por favor inicie sesión antes";
                        }else if ("ok" in responseData){
                            popovercontent = "Producto añadido";
                            javascript:updateHeader();
                        }
                        var popover = new bootstrap.Popover($("#add_but"+id), {content:popovercontent, trigger: "focus"})
                        popover.show();
                        $('body').click(function(){
                            popover.dispose();
                            $('body').off('click');
                        });
                                
                    },error: function (xhr, ajaxOptions, thrownError){
                        var popover = new bootstrap.Popover($("#add_but"+id), {content:"No se ha podido añadir el producto", trigger: "focus"})
                        popover.show();
                        $('body').click(function(){
                            popover.dispose();
                            $('body').off('click');
                        });
                    }
                });
            }
        </script> 
<!-- Section-->
        <section class="py-5">
            <div id="listProducts" class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    {{#product}}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Problema se ven las tags una encima de otra-->
                            {{#tags}}
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{.}}</div>
                            {{/tags}}
                            <!-- Product image-->

                            <!--<img class="card-img-top" src="" alt="..." />-->
                            <img src="/products/{{id}}/image/0" alt="...">                    
                            
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{title}}</h5>
                                    <!-- Product price-->
                                    {{price}} $
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center mb-3">
                                    <a class="btn btn-outline-dark btn-smaller mt-auto" href="/description?id={{id}}">View options</a>
                                </div>
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" id="add_but{{id}}" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="wdwd" onClick="javascript:addToCart({{id}})">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/product}}
                </div>
            </div>
            <div id="containerMoreResults" class="containerMoreResults">
                {{#moreProducts}}
                <button id="buttonMoreResults" onClick="moreResults({{currentPage}} + 1, {{totalPages}})" class="btn btn-secondary">
                    Más resultados
                </button>
                <div id="spinner" class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                {{/moreProducts}}
                {{^moreProducts}}
                <div>
                    <a>No hay más resultados</a>
                </div>
                {{/moreProducts}}
                
            </div>
            
            
        </section>

        
{{> footer}}