{{> header}}
        <link href="{{#base_domain}}{{base_domain}}{{/base_domain}}{{^base_domain}}/{{/base_domain}}webjars/github-com-fengyuanchen-cropperjs/cropper.min.css" rel="stylesheet" />
        <script src="{{#base_domain}}{{base_domain}}{{/base_domain}}{{^base_domain}}/{{/base_domain}}webjars/github-com-fengyuanchen-cropperjs/cropper.min.js"></script>
        <script>
            function shortenLi(){
                var items = $(".orderList").each(
                    function(){
                        if($(this).children().length > 4)
                            $(this).children().slice(4, $(this).children().length).hide();
                        $($(this).children().get(3)).html("\<i class=\"bi bi-three-dots\"\>\</i\>");
                    });         
            }
            var cropper;
            function openImage(file){
                var input = file.target;
                var reader = new FileReader();
                reader.onload = function(){
                    $('#changeImage').attr('src', reader.result);
                    cropper.replace(reader.result);
                };
                reader.readAsDataURL(input.files[0]);
            }

            function setCropper(){
                const image = document.getElementById('changeImage');
                cropper = new Cropper(image, {
                aspectRatio: 1 / 1
                });
            }

            function changeImage(){
                cropper.getCroppedCanvas({
                    width: 512,
                    height: 512,
                    fillColor: '#000'
                }).toBlob((blob) => {
                const formData = new FormData();

                // Pass the image file name as the third parameter if necessary.
                formData.append('imageFile', blob, "profile.png");

                // Use `jQuery.ajax` method
                $.ajax('/user/{{user_id}}/image', {
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success() {
                        location.reload();
                    },
                    error() {
                        console.log('Upload error');
                    },
                });
                }, 'image/png');
            }

            $(document).ready(function(){
                shortenLi();
                $('#spinnerOrders').hide();
                setCropper();
            });

            function changeName(){
                var newName = $("#nameInput").val();
                $.ajax({ 
                    url:"/user/changeName?newName="+newName,    
                    type:"POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(responseData){
                        console.log(responseData);
                        if(("error" in responseData)){
                          $("#errorName").text("El nombre no pudo ser cambiado");
                        }else{
                          location.reload();
                        }
                    
                    },error: function (xhr, ajaxOptions, thrownError){
                      $("#errorName").text("El nombre no pudo ser cambiado");
                    }
                });
            }

            function changeDescription(){
                var newDescription = $("#descriptionInput").val();
                $.ajax({ 
                    url:"/user/changeDescription?newDescription="+newDescription,    
                    type:"POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(responseData){
                        console.log(responseData);
                        if(("error" in responseData)){
                          $("#errorDescription").text("Descripcion no pudo ser cambiada");
                        }else{
                          location.reload();
                        }
                    
                    },error: function (xhr, ajaxOptions, thrownError){
                      $("#errorDescription").text("Descripcion no pudo ser cambiada");
                    }
                });
            }

            function changePassword(){
                var newPassword = $("#passwordInput").val();
                var newPassword2 = $("#passwordInput2").val();
                if(newPassword == newPassword2){
                    $.ajax({ 
                        url:"/user/changePassword?newPassword="+newPassword,    
                        type:"POST",
                        contentType: "application/json; charset=utf-8",
                        success: function(responseData){
                            console.log(responseData);
                            if(("error" in responseData)){
                                $("#errorPassword").text("La contraseña no pudo ser cambiada");
                            }else{
                                location.reload();
                            }
                        
                        },error: function (xhr, ajaxOptions, thrownError){
                        $("#errorPassword").text("La contraseña no pudo ser cambiada");
                        }
                    });
                }else{
                    $("#errorPassword").text("Las contraseñas no coinciden");
                }
            }

            function deleteUser(){
                $.ajax({ 
                    url:"/user/delete",    
                    type:"POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(responseData){
                        sleep(1000);
                        location.reload();
                    },error: function (xhr, ajaxOptions, thrownError){
                        sleep(1000);
                        location.reload();
                    }
                });
            }



        </script>

        <!-- Header-->
        <header class="bg-dark py-5">
            <div id="user" class="carousel slide" data-bs-ride="carousel">

                <div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> 
                    <div class="card p-5"> 
                        <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#changePicture"> 
                                {{#has_image}}
                                    <img id="image" src="/user/{{user_id}}/image" height="100" width="100" />
                                {{/has_image}}
                                {{^has_image}}
                                    <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
                                {{/has_image}}
                            </button>
                            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                                <span class="idd1"><i class="bi bi-envelope"></i>   {{user_email}}</span> 
                            </div> 
                            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                                <span><i class="bi bi-person"></i>   {{user_name}}</span>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#changeName"><i class="bi bi-pencil"></i></button> 
                            </div>
                            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                                <span><i class="bi bi-info-circle"></i>  {{user_bio}}</span> 
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#changeDescription"><i class="bi bi-pencil"></i></button> 
                            </div> 
                            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                                <span>Contraseña:   ·······</span>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#changePassword"><i class="bi bi-pencil"></i></button> 
                            </div>
                            <div class=" d-flex mt-5"> 
                                <button class="btn btn-danger" onClick="javascript:deleteUser()">Borrar perfil</button> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </header>

        <div class="modal fade" tabindex="-1" id="changeName">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar nombre</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="nameInput">Introduce el nuevo nombre</label>
                        <input type="text" id="nameInput" name="newName" class="form-control" />
                        <div id="errorName"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onClick="javascript:changeName()">Guardar cambios</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="changeDescription">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar descripción de usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="descriptionInput">Introduce la nueva Bio</label>
                        <input type="text" id="descriptionInput" name="newDescription" class="form-control" />
                        <div id="errorDescription"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onClick="javascript:changeDescription()">Guardar cambios</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="changePassword">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar la contraseña</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="passwordInput">Introduce la nueva contraseña</label>
                        <input type="text" id="passwordInput" name="newPassword" class="form-control" />
                        <label class="form-label" for="passwordInput2">Repite la misma contraseña otra vez</label>
                        <input type="text" id="passwordInput2" name="newPassword" class="form-control" />
                        <div id="errorPassword"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onClick="javascript:changePassword()">Guardar cambios</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="changePicture">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar la foto de perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
                        {{#has_image}}
                            <img id="changeImage" src="/user/{{user_id}}/image" height="100" width="100" />
                        {{/has_image}}
                        {{^has_image}}
                            <img id="changeImage" src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
                        {{/has_image}}  
                    </div>
                    <input class="form-control" type="file" accept="image/*" onchange="openImage(event)" onClick="openImage(event)">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onClick="javascript:changeImage()">Guardar cambios</button>
                </div>
                </div>
            </div>
        </div>



        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1 class="display-4">Pedidos anteriores</h1>
            </div>
            
            <div class="container px-4 mt-5">
                {{#pag_order}}
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ms-1" id="listProductsOrders">
                        {{#elements}}
                            <div class="card ms-2 m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Pedido nº{{id}} 
                                    {{#isPreparing}}<span class="badge bg-primary">En preparación</span>{{/isPreparing}}
                                    {{^isPreparing}}<span class="badge bg-success">Pedido cerrado</span>{{/isPreparing}}
                                    </h5>
                                    <p class="card-text">Pedido efectuado el {{createdAt}}</p>
                                    </div>
                                    <ul class="list-group list-group-flush orderList">
                                        {{#cartItems}}
                                            <li class="list-group-item">{{#product}}{{title}}{{/product}}</li>
                                        {{/cartItems}}
                                    </ul>
                                    <div class="card-body">
                                    <a href="/user/{{user_id}}/order?orderId={{id}}" class="card-link">Mostrar detalles</a>
                                </div>
                            </div>
                        {{/elements}}
                    </div>
                    <div id="containerMoreResultsOrders" class="row mt-3 row-cols-4 row-cols-md-6 row-cols-xl-6 justify-content-center">
                        {{#hasMore}}
                        <button id="buttonMoreResultsOrders" onClick="pagMoreResults({{page}} + 1, &quot;Orders&quot;, &quot;/profile?orderPage=&quot;)" 
                        class="btn btn-secondary">
                            Más resultados
                        </button>
                        
                        <div id="spinnerOrders" class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        {{/hasMore}}
                        {{^hasMore}}
                        <div>
                        </div>
                        {{/hasMore}}
                    </div>
                {{/pag_order}}
                {{^pag_order}}
                    No hay pedidos
                {{/pag_order}}
            </div>
        </section>


        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1 class="display-4">Reservas</h1>
                <p>Recuerda que solo puedes hacer hasta 3 reservas</p>
            </div>
            <div class="container px-4 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ms-1">
                    {{#user_booking}}
                        <div class="card ms-2 m-2">
                            <div class="card-body">
                                <h5 class="card-title">Reserva nº{{id}} 
                                {{^isConfirmation}}<span class="badge bg-primary">Sin confirmar</span>{{/isConfirmation}}
                                {{#isConfirmation}}<span class="badge bg-success">Confirmada</span>{{/isConfirmation}}
                                </h5>
                                <p class="card-text">Para el {{bookTime}}</p>
                                <p class="card-text">De {{people}}</p>
                            </div>
                        </div>
                    {{/user_booking}}
                    {{^user_booking}}
                        No hay reservas
                    {{/user_booking}}
                </div>
            </div>
        </section>


{{> footer}}