<div *ngIf="userProfile | async as user">    
    <!-- Header-->
    <div class="bg-dark py-5">
        <div id="user" class="carousel slide" data-bs-ride="carousel">
            <div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> 
                <div class="card p-5"> 
                    <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                        <button class="btn" (click)="openModal(changepics)"> 
                            <img id="image" #image [src]="'/api/users/'+user.id+'/image?'+time" height="100" width="100" />
                        </button>
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                            <span class="idd1"><i class="bi bi-envelope"></i>  {{user.email}}</span> 
                        </div> 
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                            <span><i class="bi bi-person"></i>  {{user.name}}</span>
                            <button class="btn" (click)="openModal(changenametemplate)"><i class="bi bi-pencil"></i></button> 
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                            
                            <span><i class="bi bi-info-circle"></i>  {{bioMessage(user.bio)}}</span> 
                            <button class="btn" (click)="openModal(changebiotemplate)"><i class="bi bi-pencil"></i></button> 
                        </div> 
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                            <span>Contraseña:   ·······</span>
                            <button class="btn" (click)="openModal(changenamepassword)"><i class="bi bi-pencil"></i></button> 
                        </div>
                        <div class=" d-flex mt-5"> 
                            <button class="btn btn-danger" (click)="deleteUser()">Borrar perfil</button> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>


    <ng-template class="modal-dialog" #changenametemplate>
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cambiar nombre</h5>
            <button type="button" class="btn-close" (click)="modalRef?.hide()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-outline mb-4">
                <label class="form-label" for="nameInput">Introduce el nuevo nombre</label>
                <input #namein type="text" id="nameInput" name="newName" class="form-control" />
                <div id="errorName"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="changeName(namein.value)">Guardar cambios</button>
        </div>
        </div>
    </ng-template>


    <ng-template #changebiotemplate>
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cambiar descripción de usuario</h5>
            <button type="button" class="btn-close" (click)="modalRef?.hide()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-outline mb-4">
                <label class="form-label" for="descriptionInput">Introduce la nueva Bio</label>
                <input #bioin type="text" id="descriptionInput" name="newDescription" class="form-control" />
                <div id="errorDescription"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="changeBio(bioin.value)">Guardar cambios</button>
        </div>
        </div>
    </ng-template>

    <ng-template class="modal-dialog" #changenamepassword>
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cambiar la contraseña</h5>
            <button type="button" class="btn-close" (click)="modalRef?.hide()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-outline mb-4">
                <label class="form-label" for="passwordInput">Introduce la nueva contraseña</label>
                <input type="password" #passin id="passwordInput" name="newPassword" class="form-control" />
                <label class="form-label" for="passwordInput2">Repite la misma contraseña otra vez</label>
                <input type="password" id="passwordInput2" name="newPassword" class="form-control" />
                <div id="errorPassword"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="changePassword(passin.value)">Guardar cambios</button>
        </div>
        </div>
    </ng-template>

    <ng-template class="modal-dialog" #changepics>
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar la foto de perfil</h5>
                <button type="button" class="btn-close" (click)="modalRef?.hide()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
                    <angular-cropper #cropper [imageUrl]="dummyFun('/api/users/'+user.id+'/image')"></angular-cropper>
                </div>
                <input class="form-control" type="file" accept="image/*" (change)="openImage($event, cropper)">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="changeImage(user.id, cropper)">Guardar cambios</button>
            </div>
            </div>
        </div>
    </ng-template>


    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h1 class="display-4">Pedidos anteriores</h1>
        </div>
        
        <div class="container px-4 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ms-1" id="listProductsOrders" *ngIf="orders && orders.content.length > 0">
                <div class="card ms-2 m-2" *ngFor="let order of orders.content">
                    <div class="card-body">
                        <h5 class="card-title">Pedido
                            <span class="badge bg-primary" *ngIf="order.status == 1">En preparación</span>
                            <span class="badge bg-success" *ngIf="order.status == 2">Pedido cerrado</span>
                        </h5>
                        <p class="card-text">Items {{order.cartSize}}</p>
                        </div>
                        <ul class="list-group list-group-flush orderList" *ngFor="let item of order.cartItems">
                                <li class="list-group-item">{{item.product.title}}</li>
                        </ul>
                        <div class="card-body">
                        <a [routerLink]="'/order/'+order.id" class="card-link">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div *ngIf="!(orders && orders.content.length <= 0)">

            </div>
        </div>
    </section>

    <loader class="row align-items-center justify-content-center" (load)="loadMoreOrders($event)">

    </loader>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h1 class="display-4">Reservas</h1>
            <p>Recuerda que solo puedes hacer hasta 3 reservas</p>
        </div>
        <div class="container px-4 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ms-1">
                    <div *ngIf="user.bookings.length > 0">
                        <div *ngFor="let book of user.bookings">
                            <div class="card ms-2 m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Reserva
                                    <div *ngIf="book.confirmation"><span class="badge bg-success">Confirmada</span></div>
                                    <div *ngIf="!book.confirmation"><span class="badge bg-primary">Sin confirmar</span></div>
                                    <!--{{^isConfirmation}}<span class="badge bg-primary">Sin confirmar</span>{{/isConfirmation}}
                                    {{#isConfirmation}}<span class="badge bg-success">Confirmada</span>{{/isConfirmation}}-->
                                    </h5>
                                    <p class="card-text">Para el {{book.bookTime}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="user.bookings.length <= 0">
                        No hay reservas
                    </div>
                    
            </div>
        </div>
    </section>



</div>