/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";


.popover {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .popover-arrow {
    position: absolute;
  }
  
  .tooltip {
    position: absolute;
  }
  
  .tooltip-arrow {
    position: absolute;
  }

  @keyframes pulse {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
  
  .pulse {
    animation: pulse 0.5s ease-in-out;
  }

  .containerMoreResults {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.star {
  color: yellow;
}