/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";


.popover {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .popover-arrow {
    position: absolute;
  }
  
  .tooltip {
    position: absolute;
  }
  
  .tooltip-arrow {
    position: absolute;
  }