<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Creación de cupón</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="py-1">
      <form class="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Código</label>
                  <input class="form-control" [(ngModel)]="code" type="text" placeholder="GUSTOSA20" name="code">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Porcentaje de descuento</label>
                  <input class="form-control" [(ngModel)]="discount" placeholder="20" type="text" name="discount">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Cuenta asociada (email)</label>
                  <select class="form-control" *ngIf="usersList | async as users" id="user">
                    <option *ngFor="let user of users" value="{{user.email}}">{{user.email}} </option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Usos permitidos</label>
                  <input class="form-control" [(ngModel)]="uses" placeholder="5" type="text" name="usesRemaining">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>