
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Editar cupón</h5>
      <button type="button" (click)="cancel()"class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
          <div class="py-1">
            <form class="form" (ngSubmit)="onSubmit()" method="post">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                          <label>Identificador de cupón</label>
                          <input class="form-control" value="{{coupon?.id}}" type="text" readonly id="id">
                      </div>
                    </div>
                      <div class="col">
                        <div class="form-group">
                          <label>Usuario actual</label>
                          <input class="form-control" value="{{coupon?.userEmail}}" readonly id="oldUser">
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Código</label>
                        <input class="form-control" value="{{coupon?.code}}" id="code">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Descuento</label>
                        <input class="form-control" value="{{coupon?.discount}}" type="text" id="discount">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Usuario nuevo</label>
                        <select class="form-control" id="newUser" *ngIf="usersList | async as users">
                          <option *ngFor="let user of users" value="{{user.email}}">{{user.email}} </option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Usos permitidos</label>
                        <input class="form-control" value="{{coupon?.usesRemaining}}" type="text" id="uses">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="cancel()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
              </div>
            </form>
  </div>
</div>