<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="py-1">
          <form class="form" (ngSubmit)="onSubmit()">            
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Identificador</label>
                      <input class="form-control" id="id" value="{{product?.id}}" type="text" name="id" readonly>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Precio</label>
                      <input class="form-control" id="price" value="{{product?.price}}" type="text" name="price">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input class="form-control" id="name" value="{{product?.title}}" type="text" name="name">
                    </div>
                  </div>
                  <div class="col">
                  <div class="form-group">
                      <label>Etiquetas (Separadas por coma)</label>
                      <input class="form-control" id="tags" value="{{product?.tags}}" type="text" name="tags">
                    </div>
                  </div>
                  </div>
                <div class="row">
                  <div class="col mb-3">
                    <div class="form-group">
                      <label>Descripción</label>
                      <textarea class="form-control" name="description" id="description" value="{{product?.description}}" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                <div class="mb-2"><b>Subir imagen de producto</b></div>
                <input class="form-control" type="file" accept="image/*" #inter>
                <button type="button" (click)="openImage(inter, product?.id)">Confirmar subir</button>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="hide()" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
          </form>
</div>
</div>