.sidebar {
    position:fixed;
    top: 55px;
    left: 0;
    width: 250px;
    height: 100%;
  }
  .rest {
    position:relative;
    padding-left: 17%;
  }
  .sidebar {
    position:fixed;
    min-width: 17%;
  }
  .nav-link {
    font-size: 30px;
  }

  
