
      <nav class="bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" style="font-size: large;" href="/admin/dashboard">
                <i class="bi bi-gear-fill"></i> Panel de Control
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="font-size: large;" href="/admin/orders">
                <i class="bi bi-cart-fill"></i> Gestionar Pedidos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="font-size: large;" href="/admin/products">
                <i class="bi bi-box-seam"></i> Gestionar Productos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="font-size: large;" href="/admin/users">
                <i class="bi bi-people-fill"></i> Gestionar Usuarios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="font-size: large;" href="/admin/comments">
                <i class="bi bi-chat-fill"></i> Gestionar Comentarios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="font-size: large;" [routerLink]="['/admin/menu']">
                <i class="bi bi-list-ul"></i> Gestionar Menus
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="font-size: large;" href="/admin/coupons">
                <i class="bi bi-tag-fill"></i> Gestionar Cupones
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="font-size: large;" href="/admin/bookings">
                <i class="bi bi-calendar-date-fill"></i> Gestionar Reservas
              </a>
            </li>
          </ul>
        </div>
      </nav>
