<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Creación de usuario</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="py-1">
      <form class="form" (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Permisos</label>
                  <input class="form-control" type="text" name="role" [value]="admin ? 'Administrador' : 'Usuario'" readonly>
                </div>
                
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Nombre</label>
                  <input class="form-control" placeholder="Pedro"  type="text" name="name" id="name" [(ngModel)]="name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input class="form-control" placeholder="pedro@hotmail.com" type="text" value="" name="email" [(ngModel)]="email">
                </div>
              </div>
              </div>
            <div class="row">
              <div class="col mb-3">
                <div class="form-group">
                  <label>Descripción</label>
                  <textarea class="form-control" name="bio" [(ngModel)]="bio" placeholder="Mis aficiones son..." rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 mb-3">
            <div class="mb-2"><b>Cambiar contraseña</b></div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Nueva contraseña</label>
                  <input class="form-control" type="password" name="password1" id="password1" placeholder="·········">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Confirmar contraseña</label>
                  <input class="form-control" id="password2" type="password" placeholder="·········"
                    [ngClass]="{'is-invalid': !passwordsMatch}" name="password2" [(ngModel)]="myForm.value.password2"
                    #password2="ngModel" required>
                  <div *ngIf="!passwordsMatch" class="invalid-feedback">
                    Las contraseñas no coinciden
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>