{{> header}}
<p>A matança dos meninos
16Quando Herodes percebeu que os sábios o tinham enganado, ficou furioso.
Depois de calcular o tempo, de acordo com os dados fornecidos pelos sábios,
mandou matar todos os meninos com menos de dois anos de idade que vivessem
tanto em Belém como nos arredores.
17Isso aconteceu para que se cumprissem as palavras ditas por Deus por meio
do profeta Jeremias:
18 “ Um som foi ouvido em Ramá,
e esse som mostrava um choro sentido e uma grande tristeza.
Era Raquel que chorava por seus filhos,
não querendo ser consolada, pois eles já não existem”. Jeremias 31.15
A volta do Egito
19Depois da morte de Herodes, um anjo do Senhor apareceu a José no Egito,
durante um sonho, 20 e disse:
—Levante-se! Pegue o menino e sua mãe e leve-os para Israel, pois as pessoas
que queriam matar o menino já morreram.
21José, então, se levantou, pegou o menino e a sua mãe e os levou para Israel.
22Mas quando soube que Arquelau reinava na Judéia no lugar do seu pai Herodes,
teve medo de ir para lá. Entretanto, depois de ter sido avisado por Deus em sonho,
partiu dali para a Galiléia. 23Eles foram morar numa cidade chamada Nazaré, para
que assim se cumprisse o que Deus havia dito por meio dos profetas*: “Ele será
chamado nazareno*”.
A mensagem de João Batista
3 Naquele tempo, João Batista apareceu e começou a proclamar no deserto da
Judéia, 2dizendo:
—Arrependam-se, pois o reino do céu está próximo.
3Era a João Batista que o profeta* Isaías estava se referindo quando disse:
“ Uma voz clama no deserto:
Preparem o caminho para o Senhor,
e abram estradas retas para Ele passar”. Isaías 40.3
4João usava roupas feitas de pêlo de camelo e um cinto de couro amarrado na
cintura e se alimentava com gafanhotos e mel silvestre. 5Muita gente ia ouvir a
mensagem de João; eram pessoas vindas de Jerusalém, de toda a província da
Judéia e também de toda a região das redondezas do rio Jordão. 6Elas confessa-
vam os seus pecados e eram batizadas* por João Batista no rio Jordão.
7 Quando João viu que muitos dos fariseus* e saduceus* estavam se aproxi-
mando para serem batizados por ele, disse-lhes:
—Raça de cobras venenosas! Quem os avisou para escaparem do castigo que
Deus vai mandar? 8 Façam coisas que mostrem que vocês se arrependeram. 9Não
comecem a dizer entre vocês mesmos: “Abraão é nosso pai”. Pois eu lhes digo
profeta(s) Uma pessoa
que falava por Deus. Essa
pessoa falava freqüen-
temente de coisas que
aconteceriam no futuro.
nazareno Uma pessoa
da cidade de Nazaré, que
tem o significado de
“renovo”. Leia Isaías 11.1.
batizar Uma palavra
grega que tem o significado
de imergir, mergulhar, ou
enterrar uma pessoa ou
alguma coisa debaixo da
água por pouco tempo.
fariseus Eles eram um
grupo religioso judeu que
diziam seguir o Velho
Testamento e outras leis e
costumes judaicos cuida-
dosamente.
saduceus Um principal
grupo religioso de judeus.
Eles aceitavam somente os
primeiros cinco livros do
Velho Testamento. Eles
acreditavam que as pessoas
não tinham uma outra vida
depois da morte.
4MATEUS 3.10—4.7
que até destas pedras Deus é capaz de fazer descendentes de Abraão. 10 O
machado está pronto para cortar as árvores pela raiz. Toda árvore que não produz
bom fruto será cortada e jogada no fogo.
11 —Eu os batizo* em água para arrependimento. Mas aquele que vem depois
de mim os batizará com o Espírito Santo* e com fogo. Ele é muito mais poderoso
do que eu e eu não sou digno nem de lhe tirar as sandálias. 12 Ele tem uma pá nas
mãos e com ela vai separar o trigo da palha. O trigo será juntado em seu depósito,
mas a palha será queimada com um fogo que nunca se apaga.
O batismo de Jesus
13 Naquela mesma época Jesus viajou da Galiléia para o rio Jordão e foi ao
encontro de João Batista, pois queria que ele o batizasse*. 14 João, porém, queria
impedi-lo, pois dizia:
—Eu é que devo ser batizado* pelo senhor e é o senhor que vem a mim
pedindo que eu o batize?
15 Jesus, entretanto, respondeu:
—Deixe as coisas como estão por agora. Devemos fazer tudo o que é exigido
por Deus. Então, depois de ouvir isto, João concordou em batizar Jesus.
16 Jesus foi batizado* e, assim que se levantou da água, viu o céu se abrir e o
Espírito de Deus* descer sobre Ele na forma de uma pomba. 17 E uma voz vinda
do céu disse:
—Este é o meu Filho querido. Ele me dá muita alegria!
A tentação de Jesus
4 Então, Jesus foi levado pelo Espírito* para o deserto, a fim de ser tentado
pelo Diabo. 2Depois de não comer nada durante quarenta dias e quarenta noi-
tes, Jesus teve fome. 3 O tentador aproximou-se, então, dele e disse:
—Se você é mesmo o Filho de Deus, mande estas pedras se transformarem
em pão.
4 Jesus, porém, respondeu:
—As Escrituras* dizem:
“ Nem só de pão vive o homem;
mas de toda a palavra que procede de Deus”. Deuteronômio 8.3
5 O Diabo levando-o depois para a cidade santa de Jerusalém, colocou-o sobre o
ponto mais alto do templo 6 e lhe disse:
—Se você é mesmo o Filho de Deus, atire-se daqui para baixo, pois as
Escrituras* dizem:
“ Deus dará ordens aos seus anjos
para que cuidem de você.
Eles vão segurá-lo com suas mãos
para que nem os seus pés se machuquem nas pedras”. Salmo 91.11—12
7 Jesus, porém, respondeu:
—Mas as Escrituras* também dizem:
“ Não ponha o Senhor seu Deus à prova”. Deuteronômio 6.16
batizar Uma palavra
grega que tem o significado
de imergir, mergulhar, ou
enterrar uma pessoa ou
alguma coisa debaixo da
água por pouco tempo.
Espírito Santo Também
é chamado de “Espírito de
Deus”, “Espírito de
Cristo” e “Conselheiro”.
Ele está unido com Deus e
Cristo e realiza o trabalho
de Deus entre as pessoas
do mundo.
E s p í r i t o ( d e D e u s )
Também é chamado de
“Espírito de Cristo” e
“Conselheiro”. Ele está
unido com Deus e Cristo e
realiza o trabalho de Deus
entre as pessoas do mundo.
Escrituras As coisas
sagradas escritas, o Velho
Testamento.
5 MATEUS 4.8—5.2
8 A seguir o Diabo o tentou novamente, levando-o para um lugar muito alto.
Ele lhe mostrou todos os reinos do mundo e toda a glória que eles tinham.
9 Depois, disse:
—Eu lhe darei todas estas coisas se você se ajoelhar diante de mim e me adorar.
10Jesus lhe disse:
—Vá embora daqui, Satanás! As Escrituras* dizem:
“ Adore ao Senhor seu Deus, e sirva somente a Ele”. Deuteronômio 6.13
11Depois disto, o Diabo o deixou e os anjos vieram e o serviram.
Jesus começa o seu trabalho na Galiléia
12Quando Jesus ouviu dizer que João tinha sido preso, voltou para a Galiléia,
13 mas não permaneceu em Nazaré. Ele foi viver em Cafarnaum, cidade próxima
do lago da Galiléia, na região de Zebulom e Naftali. 14 Isto aconteceu para que se
cumprisse o que tinha sido dito por Deus por meio do profeta* Isaías:
15 “ Terra de Zebulom e de Naftali!
Caminho para o Mar Mediterrâneo e lado ocidental do rio Jordão!
Galiléia dos que não são judeus!
16 O povo que vive na escuridão verá uma grande luz,
e até os que vivem nas regiões sombrias da morte serão iluminados
por esta luz”. Isaías 9.1—2
Jesus escolhe alguns discípulos
17Daí em diante, Jesus começou a proclamar a mensagem, dizendo:
—Arrependam-se, pois o reino do céu está próximo.
18 Jesus estava andando na beira do lago da Galiléia quando viu dois irmãos:
Simão, também conhecido como Pedro, e André. Eles eram pescadores e estavam
jogando suas redes no lago 19quando Jesus lhes disse:
—Sigam-me e eu os ensinarei a serem pescadores de pessoas. 20 E, imediata-
mente, eles deixaram as suas redes e o seguiram.
21 Jesus continuou caminhando e encontrou outros dois irmãos, Tiago e João,
filhos de Zebedeu. Eles estavam no barco com seu pai, consertando as suas redes.
Jesus os chamou 22e eles, imediatamente, deixaram seu pai e o barco e o seguiram.
Jesus ensina e cura muita gente
23Jesus viajou por toda a província da Galiléia, ensinando nas sinagogas, procla-
mando as Boas Novas* do reino de Deus e curando todo tipo de doença e de
enfermidade entre o povo. 24 A fama de Jesus se espalhou por toda a região da
Síria e o povo levou a Ele todos os doentes que sofriam de vários tipos de doenças
e males. Ele curou a todos: os que tinham dores, os que estavam possuídos por
demônios*, os epiléticos* e os paralíticos. 25 Muitas pessoas o seguiam—gente
vinda da Galiléia, de Decápolis*, de Jerusalém, da Judéia e também de toda a
região situada do outro lado do rio Jordão.
Jesus ensina a multidão
5 Quando Jesus viu a grande multidão, subiu para o alto de um monte e se sen-
tou. Os seus discípulos se aproximaram 2e Ele começou a ensiná-los, dizendo:
Escrituras As coisas
sagradas escritas, o Velho
Testamento.
profeta Uma pessoa que
falava por Deus. Essa
pessoa falava freqüen-
temente de coisas que
aconteceriam no futuro.
Boas Novas As notícias
de que Deus abriu um
caminho por meio de
Cristo para que as pessoas
possam ter seus pecados
perdoados e vivam com
Deus. Quando as pessoas
aceitam esta verdade, Deus
as aceita.
demônios São maus
espíritos que procedem do
Diabo.
epiléticos Pessoas com
uma doença que faz com
que elas, às vezes, percam
o controle do corpo, ou
desmaiem, ou que não
sejam capazes de se mover.
Decápolis Dez cidades.
Uma área ao leste do lago
da Galiléia. Antigamente
havia dez cidades impor-
tantes lá.
6MATEUS 5.3—22
3 — Felizes os que reconhecem que precisam de Deus,
pois o reino do céu é deles.
4 Felizes os que choram,
pois Deus os consolará.
5 Felizes os humildes,
pois eles herdarão a terra que Deus prometeu.
6 Felizes os que têm fome e sede de justiça,
pois ficarão completamente satisfeitos.
7 Felizes os que têm misericórdia dos outros,
pois receberão misericórdia.
8 Felizes os que têm coração puro,
pois verão a Deus.
9 Felizes os que fazem a paz,
pois serão chamados “filhos de Deus”.
10 Felizes aqueles que são perseguidos por fazerem a vontade de Deus,
pois a eles pertence o reino do céu.
11 —Felizes serão vocês quando forem insultados, perseguidos e mesmo
quando receberem todo tipo de calúnias pelo fato de me seguirem. 12 Alegrem-se
e fiquem realmente muito felizes, pois grande é a recompensa que receberão no
céu. Foi desta mesma maneira que os profetas* que viveram antes de vocês tam-
bém foram perseguidos.
O sal e a luz
13 —Vocês são o sal da terra! Se o sal, porém, perde o seu sabor, como poderá
voltar a ser salgado? Ele não presta para mais nada! É jogado fora e pisado pelos
que passam!
14 —Vocês são a luz do mundo! Uma cidade situada no alto de uma montanha
não pode ser escondida. 15 Da mesma forma, ninguém acende um lampião para
colocá-lo debaixo de um vaso, mas sim para colocá-lo em cima da mesa, para que
possa iluminar a todos os que estão na casa. 16Que a luz de vocês brilhe diante das
pessoas de tal forma que, ao verem as boas obras de vocês, elas dêem glória ao Pai
que está no céu.
Jesus ensina a respeito da lei
17—Não pensem que eu vim para acabar com a lei de Moisés ou com o ensino
dos profetas*. Não vim destruí-los, e sim dar o verdadeiro significado deles. 18Digo
a verdade a vocês: Enquanto o céu e a terra durarem, nem uma letra ou mesmo um
único acento desaparecerá da lei* até que todas as coisas aconteçam. 19Portanto,
quem desobedecer o menor dos mandamentos e ensinar outras pessoas a fazerem o
mesmo, será considerado o menor no reino do céu. Por outro lado, quem obedecer
os mandamentos e ensiná-los a outras pessoas será considerado o maior no reino do
céu. 20Digo a verdade a vocês: A não ser que excedam os professores da lei e os fari-
seus em fazer o que Deus quer, jamais entrarão no reino do céu.
Jesus ensina sobre o relacionamento entre as pessoas
21 —Vocês ouviram que aos nossos antepassados foi dito isto: “Não mate” e
“Quem matar alguém será levado a julgamento”. 22 Mas eu lhes digo: Qualquer
profeta(s) Uma pessoa
que falava por Deus. Essa
pessoa falava freqüen-
temente de coisas que
aconteceriam no futuro.
lei A lei de Moisés, a lei
judaica.
7 MATEUS 5.23—46
um que ficar com raiva de uma outra pessoa será levado para julgamento.
Qualquer que insultar uma outra pessoa será levado ao Conselho Superior*.
Quem chamar uma outra pessoa de “tolo” merece ser jogado no fogo do inferno.
23—Portanto, se você for até o altar para dar a sua oferta e se lembrar ali de que
alguém tem alguma coisa contra você, 24deixe a sua oferta lá mesmo, diante do
altar. Primeiro vá e faça as pazes com aquela pessoa; depois volte e dê a sua oferta.
25—Entre em acordo sem demora com o seu adversário, enquanto você estiver
a caminho com ele. Caso contrário, ele o entregará ao juiz, o juiz o entregará aos
guardas e você será colocado na prisão. 26 Digo a verdade a você: Não sairá de lá
até que pague tudo o que deve.
Jesus ensina sobre o adultério
27—Vocês ouviram o que foi dito: “Não cometa adultério”. 28 Eu, porém, lhes
digo que todo aquele que olhar para uma mulher desejando possuí-la, já cometeu
adultério em seu coração. 29 Portanto, se o seu olho direito faz com que você
peque, arranque-o e jogue-o fora, pois é melhor que uma parte do seu corpo seja
destruída do que todo o seu corpo seja atirado no inferno. 30Da mesma forma, se a
sua mão direita faz com que você peque, corte-a e jogue-a fora, pois é melhor que
uma parte do seu corpo seja destruída do que todo o seu corpo ir para o inferno.
Jesus ensina sobre o divórcio
31—E também foi dito: “Se alguém se separar de sua esposa deve dar-lhe carta
de divórcio”. 32 Eu, porém, lhes digo que qualquer um que se divorciar de sua
esposa sem que ela seja culpada de imoralidade sexual, faz com que ela cometa
adultério e quem se casar com ela também comete adultério.
Jesus ensina sobre os juramentos
33—Vocês também ouviram o que foi dito aos nossos antepassados: “Não que-
bre um juramento, mas cumpra o que você jurou ao Senhor que ia fazer”. 34 Eu,
porém, lhes digo: Não jurem por nada. Não jurem pelo céu, pois é o trono de
Deus; 35 nem pela terra, pois é onde Deus coloca os seus pés; nem por Jerusalém,
que é a cidade do grande Rei. 36Não jurem nem por suas próprias cabeças, pois
vocês não são capazes de tornar um só fio de cabelo branco ou preto. 37 Vocês
devem dizer somente “sim” ou “não”. O que passar disso vem do Diabo.
Jesus ensina sobre a vingança
38—Vocês também ouviram: “Olho por olho e dente por dente”. 39Eu, porém,
lhes digo: Não se oponha aos perversos. Mas, ao contrário, se alguém lhe bater na
face direita, vire-lhe também a esquerda. 40 Se alguém quiser processar você a fim
de lhe tomar a capa*, deixe que leve também a túnica*. 41 Se alguém lhe obrigar a
carregar uma carga por um quilômetro, leve-a por dois quilômetros. 42 Dê a quem
lhe pedir alguma coisa e não vire as costas a quem lhe pedir emprestado.
Jesus ensina sobre o amor
43—Vocês também ouviram que foi dito: “Ame o seu próximo e odeie os seus
inimigos”. 44 Eu, porém, lhes digo: Amem os seus inimigos e orem por aqueles
que perseguem a vocês. 45 Dessa forma o Pai que está no céu os considerará seus
filhos, pois Ele faz com que o seu Sol brilhe tanto para os bons como para os maus
e manda suas chuvas tanto para os justos como para os injustos. 46Se vocês ama-
Conselho Superior Era
formado por um grupo de
71 líderes religiosos dos
judeus. Este conselho
também funcionava como
Supremo Tribunal em
casos de julgamento.
capa Peça de roupa com-
prida que os judeus usavam
por cima das outras roupas.
túnica Peça de roupa,
tipo de camisola, que os
judeus usavam por baixo da
capa.
8MATEUS 5.47—6.18
rem somente às pessoas que amam a vocês, o que é que vocês ganham? Até
mesmo os cobradores de impostos fazem isto! 47 E se cumprimentarem somente
aos seus irmãos, o que fazem de mais? Até mesmo os que não crêem em Deus
fazem isso. 48 Portanto, sejam perfeitos assim como o Pai de vocês, que está nos
céus, também o é.
Jesus ensina sobre as boas obras
6 —Tenham cuidado! Não pratiquem boas obras em público somente para
serem vistos pelos outros. Se vocês fizerem assim, não receberão nenhuma
recompensa do Pai que está no céu. 2 Quando você der alguma coisa a um pobre,
não espalhe para todo mundo o que fez. Os hipócritas é que fazem isso nas sina-
gogas e nas ruas, a fim de receberem elogios das pessoas. Digo a verdade a vocês:
Eles já receberam a recompensa que mereciam. 3 Você, entretanto, quando der
alguma coisa aos pobres, não deixe nem que a sua mão esquerda fique sabendo o
que a sua mão direita fez. 4 Assim a sua esmola vai ficar em segredo; e o seu Pai
que vê tudo o que é feito em segredo lhe dará a recompensa.
Jesus ensina sobre a oração
5 —E quando vocês orarem, não façam como os hipócritas, que gostam de orar
de pé nas sinagogas e nas esquinas para poderem ser vistos pelo povo. Digo a ver-
dade a vocês: Eles já receberam a recompensa que mereciam. 6Você, entretanto,
quando orar, vá para o quarto, feche a porta e ore ao seu Pai, que não pode ser
visto. E seu Pai, que vê o que você faz em segredo, lhe dará a recompensa.
7 —Quando vocês orarem, não repitam palavras que não significam nada, como
os pagãos; pois eles pensam que por causa das suas muitas palavras Deus os
ouvirá. 8Portanto, não sejam como eles, pois o Pai de vocês sabe o que vocês pre-
cisam antes mesmo de vocês pedirem. 9Quando vocês orarem, orem assim:
“ Pai nosso que está no céu.
Que todos reconheçam que o seu nome é santo.
10 Que o seu reino venha a nós.
Que a sua vontade seja feita aqui na terra como no céu.
11 Dê-nos hoje o pão nosso de cada dia.
12 Perdoe os nossos pecados assim como nós perdoamos aos que nos fazem mal.
13 Não nos deixe cair em tentação, mas livre-nos do mal”.
14 Pois se vocês perdoarem as ofensas que as outras pessoas lhes fazem, o Pai de
vocês que está no céu também lhes perdoará. 15 Se, entretanto, não perdoarem as
ofensas dos outros, o Pai de vocês também não lhes perdoará as suas ofensas.
Jesus ensina sobre o jejum
16 —Quando vocês jejuarem*, não façam cara de doente como os hipócritas,
que mudam o aspecto de seus rostos para que todos saibam que estão jejuando.
Digo a verdade a vocês: Eles já receberam a recompensa que mereciam.
17 Quando você jejuar, entretanto, penteie o cabelo e lave o rosto 18 para que nin-
guém fique sabendo que está jejuando. O seu Pai, a quem você não pode ver,
verá que você está jejuando. E esse mesmo Pai, que vê tudo o que é feito em
segredo, lhe dará a recompensa.
jejuar É ficar sem comer
por um período especial de
oração e adoração a Deus.
9 MATEUS 6.19—7.6
Jesus ensina sobre a verdadeira riqueza
19—Não ajuntem riquezas neste mundo, onde a traça e a ferrugem as destrui-
rão e onde os ladrões arrombam e as roubam. 20 Ao invés disso, ajuntem riquezas
no céu, onde nem a traça nem a ferrugem as destruirão e nem os ladrões arrom-
bam e as roubam. 21 Lembrem-se disto: Onde estiver o seu tesouro, lá também
estará o seu coração.
A luz do corpo
22—Os olhos são a fonte de luz para o corpo. Se os seus olhos forem bons, todo
o seu corpo estará cheio de luz. 23 Se, porém, os seus olhos forem maus, todo o seu
corpo estará na escuridão. Portanto, se a luz que há em vocês não passa de escuri-
dão, então a escuridão que há em vocês é enorme.
Deus e as riquezas
24—Ninguém pode servir a dois senhores, pois ou odiará a um e amará o outro,
ou se dedicará a um e desprezará o outro. Vocês não podem servir a Deus e ao
mesmo tempo servir às riquezas. 25 Por isso eu lhes digo: Não se preocupem com a
comida ou com a bebida que precisam para viver ou mesmo com as roupas que
precisam para se vestir. Pois a vida é mais importante do que comida e o corpo é
mais importante do que roupas. 26 Reparem nos pássaros do céu; eles não plantam
nem colhem, nem juntam em celeiros. No entanto, o Pai de vocês que está no
céu lhes dá o que comer. Será que vocês não valem mais do que eles? 27Qual de
vocês, por mais que se preocupe, pode adicionar uma hora à sua vida? 28E por que
se preocupam por causa de roupas? Reparem nas flores do campo; elas não traba-
lham nem fazem roupas para si mesmas. 29Contudo eu lhes digo que nem mesmo
o rei Salomão, com toda a sua riqueza, se vestiu como uma delas! 30 Se Deus veste
dessa maneira as plantas do campo, que hoje estão aqui e amanhã são jogadas no
fogo, quanto mais Ele vestirá vocês, gente de pouca fé?
31—Portanto, não fiquem preocupados, dizendo: “O que iremos comer?” ou “O
que iremos beber?” ou ainda “Com o que iremos nos vestir?” 32Os pagãos é que
estão sempre procurando todas essas coisas. Mas o Pai de vocês que está no céu
sabe que vocês precisam delas. 33 Portanto, ponham em primeiro lugar em suas
vidas o reino de Deus e aquilo que Deus quer e Ele lhes dará todas estas outras
coisas. 34Não se preocupem com o dia de amanhã, pois o dia de amanhã trará suas
próprias preocupações. Para cada dia bastam os seus próprios problemas.
Não devemos julgar ninguém
7 —Não julguem os outros para que vocês também não sejam julgados. 2Pois da
mesma maneira como vocês julgam os outros, também serão julgados e a
medida que usarem para outros, essa será a mesma medida que Deus usará para
vocês.
3—Por que você olha o cisco que está no olho do seu irmão e não vê o tronco
que está no seu próprio olho? 4Como é que pode dizer ao seu irmão: “Deixe-me
tirar o cisco do seu olho” quando você mesmo tem um tronco no seu próprio
olho? 5Hipócrita! Tire primeiro o tronco que está no seu olho e então verá muito
melhor para tirar o cisco do olho do seu irmão.
6—Não dêem as coisas sagradas aos cães nem atirem as suas pérolas aos porcos,
pois os porcos pisarão nas pérolas e os cães se virarão e atacarão a vocês.
10MATEUS 7.7—29
O poder da oração
7 —Peçam e lhes será dado; procurem e vocês acharão; batam e a porta lhes será
aberta. 8Pois todo aquele que pede, recebe; todo aquele que procura, acha; e a
porta se abre a todo aquele que bate.
9 —Qual de vocês dará uma pedra a um filho se este lhe pedir pão? 10 Ou lhe
dará uma cobra quando ele lhe pedir peixe? 11 Ora, se até mesmo vocês, que são
maus, sabem dar coisas boas aos seus filhos, quanto mais o Pai que está no céu
dará coisas boas a quem lhe pedir!
12—Portanto, tratem as outras pessoas da mesma maneira que gostariam de ser
tratados por elas. Este é o real significado da lei de Moisés e do ensino dos profetas*.
As duas estradas
13 —Entrem pelo portão estreito! O portão largo e a estrada fácil de passar con-
duzem à perdição e muita gente anda por ela. 14Pois estreito é o portão e apertado
o caminho que conduz para a vida e pouca gente encontra essa estrada!
Os falsos profetas
15 —Tenham cuidado com os falsos profetas*! Eles se aproximam de vocês dis-
farçados de ovelhas, mas por dentro são lobos selvagens. 16 Vocês os reconhecerão
pelos frutos que eles produzirem. Pode-se por acaso colher uvas dos espinheiros
ou figos das plantas espinhosas? 17 Uma árvore boa produz bons frutos e uma
árvore que não presta produz frutos ruins. 18 A árvore que é boa não produz frutos
ruins, nem a árvore que não presta produz bons frutos. 19 Toda árvore que não
produz bons frutos é cortada e lançada ao fogo. 20 Assim, pois, vocês conhecerão as
pessoas pelos frutos que elas produzem.
Quem entra no reino do céu
21—Nem todo o que me diz: “Senhor, Senhor” entrará no reino do céu, mas
somente aquele que faz a vontade de meu Pai que está no céu! 22Quando aquele
Dia* chegar, muitas pessoas me dirão: “Senhor, Senhor! Não foi em seu nome que
nós profetizamos? Também não foi em seu nome que expulsamos demônios*?
Não foi em seu nome, ainda, que fizemos muitos milagres?” 23 Eu, porém, lhes
direi abertamente: “Eu nunca os conheci! Afastem-se de mim, se</p>
{{> footer}}