{{> header}}

        <header class="bg-dark py-5">
            <div id="ofertas" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#ofertas" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#ofertas" data-bs-slide-to="1"></button>
                </div>
    
                <div class="carousel-inner carousel-ofertas">
    
                    <div class="carousel-item active h-100" id="oferta1">
                        <div class="row mx-auto">
                            <h1 class="display-4 fw-bolder text-center text-white">Gustosa</h1>
                            <hr class="bg-white border-3 border border-white w-50 mx-auto">
                            <h1 class="text-center text-white-50">a melhor comida do mundo por {{message}}</h1>
                        </div>
                         <div class="row p-5"></div>
                    </div>
    
                    <div class="carousel-item h-100" id="oferta2">
                        <div class="row mx-auto">
                            <h1 class="display-4 fw-bolder text-center text-white">Todos os dias</h1>
                            <hr class="bg-white border-3 border border-white w-50 mx-auto">
                            <h1 class="text-center text-white-50">a melhor comida do mundo</h1>
                        </div>
                         <div class="row p-5"></div>
                    </div>
    
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#ofertas" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#ofertas" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
            </div>
        </section>
        <!--Reserva-->
        <div class="divreserva">
          <!--MAIN-container-->
          <div class="container1">
            <h2>Make a reservation with us!!!</h2>
            <form action="mail.php" enctype="multipart/form-data" method="post" name="formulario_html5" autocomplete="off">
              <label for="nombre">Name</label></br>
              <input type="text" name="nombre" id="nombre" class="cajas">
            </br>
            
              <label for="email">Email</label></br>
              <input type="email" name="email" id="email" class="cajas">
            </br>
        
              <label for="telefono">Phone number</label>
            </br>
              <input type="number" name="telefono" id="telefono" class="cajas">
            </br>
              
              <label for="llegada">Date</label>
            </br>
              <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
            </br>
           
              <label for="estadia">Diners</label></br>
            <select id="estadia" class="cajas">
               <option value="1" label="1">
               <option value="2" label="2">
               <option value="3" label="3">
               <option value="4" label="4">
               <option value="5" label="5">
                <option value="5" label="Big group">
            </select>
            </br>    
               <label>Observations</label>        
            </br>
                <textarea id="obs"  rows="4" cols="50">Anything you would like us to know.....</textarea>
            </br>
            </br>
            <input type="submit" value="Submit"><input type="reset" >
             <!-- Maps -->
             <div style="text-align:center;">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24267.496938678672!2d-3.6538541221382355!3d40.50982850717876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f1d854c016d%3A0xe663190dbeb8eb4e!2sLa%20Gustosa%20Valdebebas!5e0!3m2!1ses!2ses!4v1677522054257!5m2!1ses!2ses" width="300" height="225" style="border:0;"  allowfullscreen="yes" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             </div> 
            </form>
            </div>
        </div>

{{> footer}}