{{> header}}

        <header class="bg-dark py-5">
            <div id="ofertas" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#ofertas" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#ofertas" data-bs-slide-to="1"></button>
                </div>
    
                <div class="carousel-inner carousel-ofertas">
    
                    <div class="carousel-item active h-100" id="oferta1">
                        <div class="row mx-auto">
                            <h1 class="display-4 fw-bolder text-center text-white">Gustosa</h1>
                            <hr class="bg-white border-3 border border-white w-50 mx-auto">
                            <h1 class="text-center text-white-50">a melhor comida do mundo por {{message}}</h1>
                        </div>
                         <div class="row p-5"></div>
                    </div>
    
                    <div class="carousel-item h-100" id="oferta2">
                        <div class="row mx-auto">
                            <h1 class="display-4 fw-bolder text-center text-white">Todos os dias</h1>
                            <hr class="bg-white border-3 border border-white w-50 mx-auto">
                            <h1 class="text-center text-white-50">a melhor comida do mundo</h1>
                        </div>
                         <div class="row p-5"></div>
                    </div>
    
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#ofertas" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#ofertas" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
            </div>
        </section>
        <div>
            <img src="..." id="imagenindex" class="img-fluid" alt="Responsive image" >
        </div>


{{> footer}}