{{> header}}

    <script>
    function changePassword(){
          var pass = $("#passwordInput").val();
          $.ajax({ 
                    url:"/user/changePassword?newPassword="+pass,    
                    type:"POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(responseData){
                      window.location.replace("/profile");
                    },error: function (xhr, ajaxOptions, thrownError){
                      alert("No se pudo cambiar la contraseña!");
                    }
                });
    }
    </script>
    <!-- Section-->
        <section class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class="row p-2 display-5"><div class="col-auto">Change user password</div></div>
                <div class="row">
                    <div name="f" action="/user/changePassword" method="POST">
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                          <input type="password" id="passwordInput" name="newPassword" class="form-control" />
                          <label class="form-label" for="passwordInput">Password</label>
                        </div>
                        <!-- Submit button -->
                        <input name="submit" type="submit" value="Submit" class="btn btn-primary" onClick="javascript:changePassword()"/>
                    </div>
                </div>
            </div>
        </section>
{{> footer}}