{{> header}}
<!-- Section-->
        <script>
        function changePassword(){
          $.ajax({ 
                    url:"/forgotPassword?email="+$("#email-input").val(),    
                    type:"POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(responseData){
                        console.log(responseData);
                        if(("error" in responseData)){
                          $("#changePasswordLayout").text("Error, maybe email introduced is not registered?");
                        }else{
                          $("#changePasswordLayout").text("Sent email to user.");
                        }
                    
                    },error: function (xhr, ajaxOptions, thrownError){
                      $("#changePasswordLayout").text("Error, maybe email introduced is not registered?");
                    }
                });
        }
        </script> 


        <section class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class="row p-2 display-5"><div class="col-auto">Login</div></div>
                <div class="row">
                  <form name="f" action="login" method="POST">
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="email-input" name="username" class="form-control" />
                        <label class="form-label" for="email-input">Email address</label>
                      </div>
                    
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input type="password" id="password-input" name="password" class="form-control" />
                        <label class="form-label" for="password-input">Password</label>
                      </div>
                    
                      <!-- 2 column grid layout for inline styling -->
                      <div class="row mb-4">
                        <div class="col">
                          <!-- Simple link -->
                          <a id="forgot-password" href="javascript:changePassword()">Forgot password?</a>
                          <div id="changePasswordLayout"></div>
                        </div>
                      </div>
                    
                      <!-- Submit button -->
                      <input name="submit" type="submit" value="submit" class="btn btn-primary" />                   
                  </form>
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>Not a member? <a href="/register">Register</a></p>
                    <p>or sign up with:</p>
                    <a type="button" class="btn btn-link btn-floating mx-1" href="{{google-login}}">
                      <i class="bi bi-google"></i>
                    </a>
                  </div>
                </div>
            </div>
        </section>
{{> footer}}