{{> header}}

    <script>
    function changePassword(){
          var email = $("#form2Example1").val();
          var pass = $("#form2Example2").val();
          var name = $("#form2Example3").val();
          $.ajax({ 
                    url:"/register?email="+email+"&password="+pass+"&username="+name,    
                    type:"POST",
                    contentType: "application/json; charset=utf-8",
                    success: function(responseData){
                      window.location.replace("/profile");
                    },error: function (xhr, ajaxOptions, thrownError){
                      alert("No se pudo crear la cuenta!");
                    }
                });
    }
    </script>

    <!-- Section-->
        <section class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class="row p-2 display-5"><div class="col-auto">Registro</div></div>
                <div class="row">
                    <div name="f" action="register" method="POST">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example1" name="email" class="form-control" />
                          <label class="form-label" for="form2Example1">Correo electrónico</label>
                        </div>
                      
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example2" name="password" class="form-control" />
                          <label class="form-label" for="form2Example2">Contraseña</label>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="text" id="form2Example3" name="username" class="form-control" />
                          <label class="form-label" for="form2Example3">Nombre</label>
                        </div>
                      
                        <!-- Submit button -->
                        <input name="submit" type="submit" value="Enviar" class="btn btn-primary" onClick="javascript:changePassword()"/>
                    </div>
                    <div class="text-center">
                      <p>¿Ya tiene cuenta? <a href="/login">Iniciar sesión</a></p>
                    </div>
                </div>
            </div>
        </section>
{{> footer}}