{{> header}}
    <!-- Section-->
        <section class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class="row p-2 display-5"><div class="col-auto">Register</div></div>
                <div class="row">
                    <form>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example1" class="form-control" />
                          <label class="form-label" for="form2Example1">Email address</label>
                        </div>
                      
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example2" class="form-control" />
                          <label class="form-label" for="form2Example2">Password</label>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="text" id="form2Example3" class="form-control" />
                          <label class="form-label" for="form2Example3">Name</label>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="text" id="form2Example4" class="form-control" />
                          <label class="form-label" for="form2Example4">Phone number</label>
                        </div>
                      
                      
                        <!-- Submit button -->
                        <div>
                        <button type="button" class="btn btn-primary btn-block mb-4">Register</button>
                        </div>
                        <div class="text-center">
                          <p>Do you have an account? <a href="/login">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
{{> footer}}